In [10]:
import pandas as pd
import openpyxl as opxl

In [11]:
df = pd.read_excel("excel/LIBROSMATRICES.xlsx", sheet_name="ALUMNOS")

In [12]:
print(df)

        apellido                nombre estado       dni orientation book  \
0         Avalos         Rossana          NaN  24186928       Cont.    1
1     Hermosilla        Yaquelin          NaN  36090000       Cont.    1
2         Monges         Paola I.         NaN  29268593       Cont.    1
3     Montenegro    Mirian Raquel         NaN  22175923       Cont.    1
4          Mu√±oz  Nicolas Arastua         NaN  44956978       Cont.    1
...          ...                   ...    ...       ...         ...  ...
3240         NaN                          NaN       NaN        Soc.   74
3241         NaN                          NaN       NaN        Soc.   74
3242         NaN                          NaN       NaN        Soc.   74
3243         NaN                          NaN       NaN        Soc.   74
3244         NaN                          NaN       NaN        Soc.   74

      folio condicion observation dni_doc  ... Unnamed: 121 Unnamed: 122  \
0         1       NaN         NaN     NaN  ...          NaN          NaN
1         2       NaN         NaN     NaN  ...          NaN          NaN
2         3       NaN         NaN     NaN  ...          NaN          NaN
3         4       NaN         NaN     NaN  ...          NaN          NaN
4         5       NaN         NaN     NaN  ...          NaN          NaN
...     ...       ...         ...     ...  ...          ...          ...
3240     34       NaN         NaN     NaN  ...          NaN          NaN
3241     35       NaN         NaN     NaN  ...          NaN          NaN
3242     36       NaN         NaN     NaN  ...          NaN          NaN
3243     37       NaN         NaN     NaN  ...          NaN          NaN
3244     38       NaN         NaN     NaN  ...          NaN          NaN

     Unnamed: 123 Unnamed: 124 Unnamed: 125 Unnamed: 126 Unnamed: 127  \
0             NaN          NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
3240          NaN          NaN          NaN          NaN          NaN
3241          NaN          NaN          NaN          NaN          NaN
3242          NaN          NaN          NaN          NaN          NaN
3243          NaN          NaN          NaN          NaN          NaN
3244          NaN          NaN          NaN          NaN          NaN

     Unnamed: 128  Unnamed: 129  Unnamed: 130
0             NaN           NaN           NaN
1             NaN           NaN           NaN
2             NaN           NaN           NaN
3             NaN           NaN           NaN
4             NaN           NaN           NaN
...           ...           ...           ...
3240          NaN           NaN           NaN
3241          NaN           NaN           NaN
3242          NaN           NaN           NaN
3243          NaN           NaN           NaN
3244          NaN           NaN           NaN

[3245 rows x 131 columns]